.container {
    /*display: flex;*/
    width: 300px;
}

.container-columns {
    display: flex;
}

.side {
    flex: 1;
    /*padding: 10px;*/
}

.side-content-center {
    /*display: flex;*/
    align-items: right;
}

.estacionamientoText {
    color: black;
    /*padding: 10px;*/
    font-size: large;
    font-family: Arial;
    text-align: right;
}

.card-container {
    width: 600px;
    height: 1120px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    align-items: center;
    justify-content: center;
    /*background-color: rgb(178, 199, 203);*/
    background-color: white;
    /*border: 5px solid black;*/
    border: 20px solid yellow;
    /*Para colocar card en el centro de la pantalla*/
    margin-left: auto;
    margin-right: auto;
}

.Button {
    font-size: 16px;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 0.5%;
    margin-left: 1%;

}


.card-container:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.image-container img {
    overflow: hidden;
    height: 200px;
}

.card-content {
    margin: 1rem;
    margin-top: 0.5rem;
    margin-left: 500px;
}



.btn {
    display: flex;
    justify-content: center;
}

.btn-button {
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}


.btn button:hover {
    background-color: rgba(27, 156, 252, 0.1);
    transform: scale(1.2s);
}

.Button:active {
    background-color: #ccc;
}

/*
.Button {
    font-size: 16px;
    padding: 6px 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 0px;
}
.Button:active {
    background-color: #ccc;
}
*/