.Cards {
    display: flex;
    gap: 10px;
  }
  .parentContainer{
    width: 100%;
  }
  
  @media screen and (max-width: 2500px) {
    .Cards{
      flex-direction: column;
    }
    .parentContainer{
      height: 9rem;
    }
  }
  
  @media screen and (max-width: 2000px)
  {
    .Cards{
      width: 90%;
    }
  }
  