.MainDash {
  /* padding-top: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (max-width: 2500px) {
  .MainDash {
    justify-content: flex-start;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 2000px) {
  .MainDash {
    align-items: center;
  }
}

.App {
  color: var(--black);
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  background: var(--glass);
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 11rem auto 20rem;
  overflow: hidden;
}

@media screen and (max-width: 2500px) {
  .AppGlass {
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 2000px) {
  .AppGlass {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 2500px) {
  .Cards {
    flex-direction: column;
  }
  .parentContainer {
    height: 9rem;
  }
}

@media screen and (max-width: 2000px) {
  .Cards {
    width: 90%;
  }
}

.CompactCard {
  /*display: flex;*/
  /*flex: 1;*/
  height: 8rem !important;
  border-radius: 0.7rem;
  color: white;
  /*padding: 1rem;*/
  position: relative;
  /*estos colores son para las pendientes por pagar*/
  background: linear-gradient(180deg, #953b21 0%, #ff0000 100%);
  box-shadow: 0px 10px 20px 0px #e0c6f5;
  /*
  background: linear-gradient(180deg, #bcc629 0%, #15e53e 100%);
  box-shadow: 0px 10px 20px 0px #e0c6f5;
*/
}
.CompactCard:hover {
  box-shadow: none !important;
}

.patenteBar {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spancito {
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}
.horaBar {
  text-align: center;
}
.horaBar > span {
  font-size: 20px;
  font-weight: bold;
  margin-left: 2%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tarjetasBar {
  text-align: left;
  justify-content: "flex-start";
  margin-left: 2%;
}
.tiempoBar {
  text-align: left;
}
.tiempoBar > span {
  font-size: 20px;
  font-weight: bold;
  margin-left: 2%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.precioBar {
  text-align: right;
}
.precioBar > span {
  font-size: 30px;
  font-weight: bold;
  margin-right: 2%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.patenteExpanded {
  display: "block";
  color: white;

  margin-bottom: "10px";
}

.patenteExpanded > span {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.horaExpanded {
  font-size: 30px;
  color: white;

  display: "block";
  margin-bottom: "10px";
}

.horaExpanded > span {
  font-size: 35px;
  font-weight: bold;
  color: white;
}
.buttonFinalizarTarjeta {
  padding: 20px 15px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.patentePendienteExpanded {
  display: "block";
  color: white;

  margin-bottom: "10px";
}

.patentePendienteExpanded > span {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.tiempoPendienteExpanded {
  display: "block";
  color: white;

  margin-bottom: "10px";
}

.tiempoPendienteExpanded > span {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.precioPendienteExpanded {
  display: "block";
  color: white;

  margin-bottom: "10px";
}

.precioPendienteExpanded > span {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.cantidadTarjetasPendienteExpanded {
  display: "block";
  color: white;

  margin-bottom: "10px";
}

.cantidadTarjetasPendienteExpanded > span {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.buttonLimpiarTarjetas {
  padding: 20px 15px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  bottom: 0;
  margin-bottom: 0.5vh;
  left: 50%;

  position: absolute;
  transform: translateX(-50%);
}

.ExpandedCard {
  position: absolute;
  width: 60%;
  height: 70vh;
  z-index: 9;
  left: 13rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  /*estos colores son para las expandidas en pendientes por pagar*/
  background: linear-gradient(180deg, #953b21 0%, #ff0000 100%);
  box-shadow: 0px 10px 20px 0px #e0c6f5;
}
.ExpandedCard > span:nth-of-type(1) {
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-shadow: 0px 0px 15px white;
}
.ExpandedCard > span:nth-of-type(2) {
  color: rgb(236, 236, 236);
  font-size: 15px;
}

.chartContainer {
  width: 70%;
}

@media screen and (max-width: 1200px) {
  .ExpandedCard {
    top: 2rem;
    height: 45vh;
    left: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .ExpandedCard {
    top: 8rem;
    height: 50%;
    left: 25px;
    width: 80%;
  }
}

.icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #333;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}
