div {
    font-size: 1, 5em;
}

a {
    text-decoration: none;
    background-color: blue;
    padding: 10px 20px;
    font-size: 24px;
}

.nav-text {
    color: white;
}

.activado {
    color: gold;
    background-color: crimson;
}


errors {
    color: blue
}

.ml-auto {
    text-align: right;
    color: white;

}

.form-text {
    text-align: center;
}



#hola {
    text-align: center;
}

#signup-button {
    background-color: black;
    color: white;
}

#signup-link {
    background-color: black;
    color: white;
    padding: 20px 30px;
}

.timer {
    text-align: center;
    color: greenyellow;
    text-shadow: 3px 1px #d22d65;
    font-size: 50px;
    font-family: monospace;
}